<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Linguistic Wordle</title>

    <style>

        #message{
            position: absolute;
            top:8%;    
            left:35%;
            font-size: 5rem;
        }

        #invalid_word{
           position: absolute;
            top:8%;    
            left:35%;
            font-size: 5rem; 
        }

        .green {
            background-color: green;
        }

        .yellow {
            background-color: yellow;
        }

        .grey {
            background-color: grey;
        }
        .keyboard{
            position: absolute;
            top:60%;    
            left:35%;
        }
        .row {
            display: flex;
            gap: 5px;
            margin-bottom: 5px;
        }

        .tile {
            width: 40px;
            height: 40px;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
        }   
        #board{
            position: absolute;
            top:20%;    
            left:35%;
        }
    </style>
</head>

<body>
    <div id="message"></div>

    <div id="invalid_word"></div>

    <div class="keyboard">

 

        <div class="row">

            <button class="key">Q</button>

            <button class="key">W</button>

            <button class="key">E</button>

            <button class="key">R</button>

            <button class="key">T</button>

            <button class="key">Y</button>

            <button class="key">U</button>

            <button class="key">I</button>

            <button class="key">O</button>

            <button class="key">P</button>

        </div>
        
        <div class="row">

            <button class="key">A</button>
            
            <button class="key">S</button>
            
            <button class="key">D</button>
            
            <button class="key">F</button>
            
            <button class="key">G</button>
            
            <button class="key">H</button>
            
            <button class="key">J</button>
            
            <button class="key">K</button>
            
            <button class="key">L</button>
            
        </div>
            
            
        <div class="row">
            
            <button class="key">Z</button>
            
            <button class="key">X</button>
            
            <button class="key">C</button>
            
            <button class="key">V</button>
            
            <button class="key">B</button>
            
            <button class="key">N</button>
            
            <button class="key">M</button>
            
        </div>
    </div>
    <div id="board"></div>
    <script>
        const tries = 6;
        const word_to_guess = "{{solution}}";
        console.log(word_to_guess) //we can always look up our word in the console by pressing f12 in our browser
        const word_length = {{length_of_word}};  

        const board = document.getElementById("board");

        for (let r = 0; r < tries; r++) {

            const row = document.createElement("div");
            row.classList.add("row");

            for (let c = 0; c < word_length; c++) {

                const tile = document.createElement("div");

                tile.classList.add("tile");
                tile.id = `r${r}c${c}`;

                row.appendChild(tile);
            }

            board.appendChild(row);
        }
        
        let current_column = 0;
        let current_line = 0;
        let current_word = "";
        let isSubmitting = false;
        document.addEventListener("keydown", handleKeyDown);
        function handleKeyDown(event){
        
            if (/^[a-zA-Z]$/.test(event.key)) { //press a letter to write your guess
            
                if (current_column < word_length) { //you cant type more letters than the lenght of the word
            
                    const tile = document.getElementById(
                    `r${current_line}c${current_column}`
                    );
                    
                    tile.textContent = event.key.toUpperCase();
                    
                    current_word += event.key.toLowerCase();
                    current_column++;
                }
            }
            

            if (event.key === "Backspace") { //press backspace to delete the last tipped letter 

                if (current_column > 0) {

                    current_column--;
                    current_word = current_word.slice(0, -1);
                    const tile = document.getElementById(
                        `r${current_line}c${current_column}`
                    );
                    document.getElementById("invalid_word").innerText = "";
                    tile.textContent = "";
                }
            }

            if (event.key === "Enter") { //press enter to guess
                if (isSubmitting) {
                    console.log("blockiert");
                    return;
                }
                if (current_column === word_length) { //only possible if the count of the letters of your guess = count of letters of the word to guess
                    isSubmitting = true;
                    const rowToColor = current_line;
                    fetch("/guess", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            "current_word": current_word
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.valid === false){
                            document.getElementById("invalid_word").innerText = "Invalid Word!";
                        }
                        else{
                            data.colors.forEach((color, index) => { //color the letters of the guessed word
                            const tile = document.getElementById(
                                `r${rowToColor}c${index}`
                                );
                                tile.classList.add(color);
                            });
                            if (data.won){ //data.won is only true, if you guessed the right word
                                document.getElementById("message").innerText = "You Won!"; //message "you won!"
                                document.removeEventListener("keydown", handleKeyDown); //disable the function to type more letters
                                
                            }
                            const wrongLetters = data.wrong_letters;  //this is to paint letters of the board grey
                            document.querySelectorAll(".key").forEach(key => {
                                if (wrongLetters.includes(key.innerText)) {
                                    key.style.backgroundColor = "grey";
                                }
                            })
                            current_word = "" //reset current_word since it is always the guessed word
                            current_line++; //enter the next line of the tries to guess
                            current_column = 0; // so you start at the first column
                        }
                        
                    })
                    .catch(err => console.error(err))
                    .finally(() => {
                        isSubmitting = false;
                   

                });
            }
    };
    }
    </script>
   

</body>
</html>
